#Payment {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px;
  width: 100%;
}

#Payment .field {
  margin-bottom: 15px;
  padding: 0 20px;
}

#Payment .field label {
  padding-right: 10px;
}

.invalid {
  border: 1px solid #fdabab;
  color: red;
}

.valid {
  border: 1px solid #ccc;
}

#Payment .field input {
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  margin: 5px 0;
  padding: 15px;
  width: 100%;
}
